* {
    padding: 0;
    margin: 0;
}

body {
    width: 960px;
    margin: 0 auto;
    background: url(image/body-bj.png);
}

h1 {
    text-align: center;

    color: wheat;
}

h3 {
    /* text-align: center; */
    /* padding-top: 20px; */
    color: wheat;
}

p {
    margin-bottom: 20px;
    /* padding-top: 20px; */
    text-indent: 2em;
    color: rgba(24, 255, 187, 0.99);
}

.p1 {
    /* width: 100%; */
    color: rgba(24, 255, 187, 0.99);
    display: block;
    text-align: right;
}